<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All tests Suite">
    <test name="Login">
        <classes>
            <class name="com.solvd.login.LoginPageTest">
                <methods>
                    <include name="loginWithValidCredentialsTest"/>
                    <include name="displayErrorMessageWhenEmptyUsernameTest"/>
                    <include name="displayErrorMessageWhenEmptyPasswordTest"/>
                    <include name="displayErrorMessageWhenInvalidUsernameTest"/>
                    <include name="displayErrorMessageWhenInvalidPasswordTest"/>
                    <include name="loginCorrectlyAfterFailedAttemptTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Add/Remove from cart">
        <classes>
            <class name="com.solvd.mainPage.AddRemoveItemsFromCartTest">
                <methods>
                    <include name="addSingleItemToCartTest"/>
                    <include name="addFiveItemsToCartTest"/>
                    <include name="removeSingleItemFromCartTest"/>
                    <include name="removeAllItemsFromCartTest"/>
                    <include name="addSingleItemToCartByDragAndDropTest"/>
                    <include name="addSingleItemToCartInListLayoutTest"/>
                    <include name="addFiveItemsToCartInListLayoutTest"/>
                    <include name="removeSingleItemFromCartInListLayoutTest"/>
                    <include name="removeAllItemsFromCartInListLayoutTest"/>
                    <include name="addSingleItemToCartByDragAndDropInListLayoutTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Sort items">
        <classes>
            <class name="com.solvd.mainPage.SortItemsTest">
                <methods>
                    <include name="sortItemsByNameAscTest"/>
                    <include name="sortItemsByNameDescTest"/>
                    <include name="sortItemsByPriceAscTest"/>
                    <include name="sortItemsByPriceDescTest"/>
                    <include name="cancelSortTest"/>
                    <include name="sortItemsByNameAscInListLayoutTest"/>
                    <include name="sortItemsByNameDescInListLayoutTest"/>
                    <include name="sortItemsByPriceAscInListLayoutTest"/>
                    <include name="sortItemsByPriceDescInListLayoutTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Drawing">
        <classes>
            <class name="com.solvd.drawing.DrawingTests">
                <methods>
                    <include name="drawLineTest"/>
                    <include name="drawHouseTest"/>
                    <include name="verifyPageTitleColorInCenterTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Deep links">
        <classes>
            <class name="com.solvd.deepLinks.DeepLinkTest">
                <methods>
                    <include name="openItemPageByDeepLinkTest"/>
                    <include name="addSingleItemToCartByDeepLinkTest"/>
                    <include name="addThreeItemsToCartByDeepLinkTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Wording">
        <classes>
            <class name="com.solvd.menu.LocalizedWordingTest">
                <methods>
                    <include name="verifyMenuLinksTranslationsTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="WebView">
        <classes>
            <class name="com.solvd.webView.WebViewTest">
                <methods>
                    <include name="switchContextToWebViewTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
